* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  padding: 2rem 0;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: fit-content;
  animation: scroll 20s linear infinite;
}

.carousel-slide {
  display: flex;
}

.carousel-slide img {
  width: 120px;
  margin: 10px;
  height: auto;
  margin-right: 40px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
